@{
    ViewData["Title"] = "lab5";
}

<div class="text-center">
    <h1 class="display-4">Методи веб сервісу</h1>
    <p>getTime <a href="http://localhost:5000/getTime">/getTime</a></p>
    <p>getDate  <a href="http://localhost:5000/getDate">/getDate</a></p>
    <p>getDatetime  <a href="http://localhost:5000/getDatetime">/getDatetime</a>.</p>
</div>
