@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1 class="display-4">Методи веб сервісу</h1>
        <p>читати <a href="http://localhost:5000/readfile/file1">/file1</a></p>
        <p>читати <a href="http://localhost:5000/readfile/file2">/file2</a></p>
        <p>читати <a href="http://localhost:5000/readfile/file3">/file3</a>.</p>
</div>
